* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  transition: ease-in-out 0.3s;
}

:root {
  --forgroung-color: white;
}

.height {
  height: 150px;
}

video {
  height: 100%;
  width: 100%;
  position: fixed;
  object-fit: cover;
  z-index: -10;
}

nav {
  padding: 50px 20px;
}

.home-icon {
  background-color: transparent;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  border: 2px solid var(--forgroung-color);
  position: absolute;
  cursor: pointer;
}

.home-icon a i:hover {
  color: red;
}

.home-icon a i {
  color: var(--forgroung-color);
  font-size: 30px;
  padding: 10px;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: var(--forgroung-color);
}

.mar-top {
  margin-top: 30px;
}

.section1 {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container {
  height: 300px;
  width: 300px;
}

.game {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
}

.box {
  height: 90px;
  width: 90px;
  border-radius: 10px;
  border: 2px solid var(--forgroung-color);
  font-size: 40px;
  font-weight: 400;
  background-color: transparent;
  backdrop-filter: blur(5px);
  outline: none;
  transition: none;
  cursor: pointer;
  color: white;
}

.drow-winner {
  color: var(--forgroung-color);
  font-size: 30px;
  margin: 15px 0 10px 0;
  text-align: center;
}

.re-start {
  background-color: transparent;
  border: 2px solid var(--forgroung-color);
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 10px;
  color: var(--forgroung-color);
  font-weight: 400;
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.re-start:active {
  border-color: red;
  transform: scale(1.2);
}
.re-start:hover {
  border-color: red;

}

  

 

@media (max-width: 400px) {
  .height {
    height: 10px;
  }

  nav {
    position: relative;
    padding: 90px 10px;
  }

  .home-icon {
    border-radius: 5px;
    top: 5px;
    left: 5px;
  }

  .home-icon a i {
    font-size: 15px;
    padding: 8px;
  }

  .heading {
    text-align: center;
    font-size: 20px;
    color: var(--forgroung-color);
  }

  .mar-top {
    margin-top: 20px;
  }

  .section1 {
    padding: 10px 5px;
  }

  .container {
    height: 180px;
    width: 180px;
  }

  .game {
    height: 60px;
  }

  .box {
    height: 55px;
    width: 55px;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 300;
  }

  .drow-winner {
    font-size: 20px;
    margin: 10px 0 5px 0;
  }

  .re-start {
    padding: 2.5px 5px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 300;
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  .height {
    height: 10px;
  }

  nav {
    position: relative;
    padding: 90px 10px;
  }

  .home-icon {
    border-radius: 5px;
    top: 5px;
    left: 5px;
  }

  .home-icon a i {
    font-size: 22px;
    padding: 8px;
  }

  .heading {
    text-align: center;
    font-size: 20px;
    color: var(--forgroung-color);
  }

  .mar-top {
    margin-top: 20px;
  }

  .section1 {
    padding: 30px 5px;
  }

  .container {
    height: 200px;
    width: 200px;
  }

  .game {
    height: 66.5px;
  }

  .box {
    height: 60px;
    width: 60px;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 300;
  }

  .drow-winner {
    font-size: 20px;
    margin: 10px 0 5px 0;
  }

  .re-start {
    padding: 2.5px 5px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 300;
  }
}

@media (min-width: 501px) and (max-width: 1500px) {
  .height {
    height: 10px;
  }

  nav {
    position: relative;
    padding: 90px 10px;
  }

  .home-icon {
    border-radius: 5px;
    top: 9px;
    left: 9px;
  }

  .home-icon a i {
    font-size: 25px;
    padding: 8px;
  }

  .heading {
    text-align: center;
    font-size: 30px;
    color: var(--forgroung-color);
  }

   

  .section1 {
    padding: 20px 5px;
  }

  .container {
    height: 200px;
    width: 200px;
  }

  .game {
    height: 66.5px;
  }

  .box {
    height: 60px;
    width: 60px;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 400;
  }

  .drow-winner {
    font-size: 20px;
    margin: 15px 0 10px 0;
  }

  .re-start {
    padding: 2.5px 5px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 400;
  }
}


  @media (min-width: 1501px) and (max-width: 2400px) {
  .section1 {
    padding: 80px 5px;
  }

  .home-icon {
    border-radius: 8px;
    top: 2%;
   left: 2%;
   padding: 5px 10px;
  }
  
 
.container {
  height: 220px;
  width: 220px;
}

.game {
  height: 73.5px;
}

.box {
  height: 68px;
  width: 68px;
  border-radius: 10px;
  font-size: 30px;
font-weight: 400;
}
.drow-winner {
  font-size: 23px;
  margin: 19px 0 14px 0;
}

.re-start {
  padding: 3px 6px;
  font-size: 20px;
  border-radius: 8px;
  font-weight: 400;
}
}

  