* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  transition: ease-in-out 0.3s;
}

 

:root {
  --forgroung-color: white;
}

video {
  height: 100%;
  width: 100%;
  position: fixed;
  object-fit: cover;
  z-index: -10;
}

nav {
  padding: 50px 20px;
}

.home-icon {
  background-color: transparent;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  border: 2px solid var(--forgroung-color);
  position: absolute;
  cursor: pointer;
}

.home-icon a i {
  color: var(--forgroung-color);
  font-size: 30px;
  padding: 10px;
}
.home-icon a i:hover {
  color: red;
}


.heading {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: var(--forgroung-color);
}



.mar-top {
  margin-top: 30px;
  font-size: 50px;
}

.height {
  height: 150px;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 35px 100px;
  border-radius: 15px;
background: transparent;
backdrop-filter: blur(10px);
border: 2px solid var(--forgroung-color);
  user-select: none;
}

.container.start .user_result  {
transform-origin: left;
animation: userShake 0.7s ease infinite;
}

@keyframes userShake {
  50% {
    transform: rotate(10deg);
  }
}

.container.start .cpu_result  {
  transform-origin: right;
  animation: cpuShake 0.7s ease infinite;
}

@keyframes cpuShake {
  50% {
    transform: rotate(-10deg);
  }
}

.result_images {
  display: flex;
  column-gap: 100px;
}

.result_images img {
  width: 100px;
}

.user_result img {
  transform: rotate(90deg) rotateY(180deg);
}

.cpu_result img {
  transform: rotate(-90deg);
}


.result {
  text-align: center;
  color: var(--forgroung-color);
  font-size: 32px;
  margin-top: 25px;
}

.option_images  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 75px;
}
.container.start .option_images {
  pointer-events: none;
}
 
.option_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
 
.option_image.active {
  opacity: 1;
}
.option_image img{
  width: 50px;
  pointer-events: none;
}
 
.option_image p{
  color: var(--forgroung-color);
  font-size: 20px;
  margin-top: 16px;
  pointer-events: none;
}

 





@media (max-width: 375px) {
  .height {
    height: 10px;
  }

  nav {
    position: relative;
    padding: 90px 10px;
  }

  .home-icon {
    border-radius: 5px;
    top: 5px;
    left: 5px;
  }

  .home-icon a i {
    font-size: 15px;
    padding: 8px;
  }

  .heading {
    text-align: center;
    font-size: 20px;
    color: var(--forgroung-color);
  }

  .mar-top {
    margin-top: 20px;
  }

  .section1 {
    padding: 10px 5px;
  }

 
.container {
  padding: 10px 2px;
  border-radius: 15px;
}

  .game {
    height: 60px;
  }

   
 
}

@media (min-width: 375px) and (max-width: 425px) {
   .height {
    height: 10px;
  }

  nav {
    position: relative;
    padding: 90px 10px;
  }

  .home-icon {
    border-radius: 5px;
    top: 5px;
    left: 5px;
  }

  .home-icon a i {
    font-size: 15px;
    padding: 8px;
  }

  .heading {
    text-align: center;
    font-size: 20px;
    color: var(--forgroung-color);
  }

  .mar-top {
    margin-top: 20px;
  }

  .section1 {
    padding: 10px 5px;
  }

 
.container {
  padding: 10px 10px;
  border-radius: 15px;
}

  .game {
    height: 60px;
  }
}
 